@{
    ViewData["Title"] = "Customer Added";
}

<div class="container mt-5 text-center">
    <div class="alert alert-success shadow p-4 rounded">
        <h3 class="text-success">Customer Added Successfully!</h3>
    </div>

 
</div>
