
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><em><strong>Admin Page</strong></em></h1>
<hr />
<div class="d-grid gap-2 col-md-6 mx-auto">    
    <a asp-action="GetAllMovies" class="m-2 btn btn-outline-secondary rounded-4">View all Movies</a>
    <a asp-action="GetAllCustomers" class="m-2 btn btn-outline-secondary rounded-4">View all Customers</a>
    <a asp-action="Orders" class="m-2 btn btn-outline-secondary rounded-4">View all Orders</a>
</div>

