@model MovieShopTrio.Database.Movie;

@{
    ViewData["Title"] = "MovieSuccess";
}

<div class="mt-5">
    <h2><em><strong>Movie has been added successfully!</strong></em></h2>
</div>

<hr />

<div class="mt-5">
    <a asp-action="GetAllMovies" class="btn btn-outline-dark btn-sm">Back to Movie List</a>
</div>