<form asp-action="Search" method="get">
    <input type="text" name="searchTerm" placeholder="Search for movies..." class="form-control" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
